<div class="contents row">
  <%= form_tag('/posts', method: :post) do %>
    <h3>
      投稿が完了しました
    </h3>

    <span>投稿者</span>
    <%= link_to "#{current_user.nickname}", user_path(current_user) %>
    <%= @post.text %>

    <%= link_to '編集', "/posts/#{@post.id}/edit", method: :get %>
    <%= link_to '削除', "/posts/#{@post.id}", method: :delete %>
    <a class="btn" href="/">トップへ戻る</a>
  <% end %>
</div>

